{% extends 'embedathon/layout.html' %}
{% load static %}

{% block title %}Page Not Found | Embedathon{% endblock %}

{% block body %}
<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>The page you are looking for doesn't exist.</h2>
      {% if user.is_authenticated %}
      <a class="btn" href="{% url 'homepage' %}">Back to Home</a>
      {% else %}
      <a class="btn" href="{% url 'index' %}">Back to Home</a>
      {% endif %}
      <img src="{% static 'img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
    </section>

  </div>
{% endblock %}
