 {% load static %}
 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      {% if user.is_authenticated %}
      <a href="{% url 'homepage' %}" class="logo d-flex align-items-center">
      {% else %}
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
      {% endif %}
        <!-- TODO: Update with Embedathon Logo -->
        <img src="{% static 'img/logo.png' %}" alt="Embedathon Logo">
        <span class="d-none d-lg-block">Embedathon</span>
      </a>
      {% if user.is_authenticated and user_in_team %}
      <i class="bi bi-list toggle-sidebar-btn"></i>
      {% endif %}
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>End Search Icon -->

        {% if user.is_authenticated %}
        <!-- TODO: Update all necessary data with User details -->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.username }}</h6>
              <span>{{ user.first_name }} {{ user.last_name }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'user-profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="https://discord.gg/mm7meyj7" target="_blank">
                <i class="bi bi-discord"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
        {% endif %}

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
