{% extends 'embedathon/layout.html' %}
{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/landing-button.css' %}" rel="stylesheet">
{% endblock %}

{% block index_only %}{% endblock %}
{% block body_nomain %}
<div class="container-fluid">
  <!-- Landing Section -->
  <section class="row justify-content-center text-center min-vh-100 align-items-center" id="landing" style="background-image: url({% static 'img/landing-bg.jpg' %});background-size: fit;">
    <img src="{% static 'img/embedathon-logo-light.png' %}" class="col-md-6 col-sm-6 pt-5 px-5" alt="Embedathon Logo">
    <div class="col-md-7 pb-5 landing-text">
      <h2 class="my-3">24-Hour Embedded System Hackathon</h2>
      <h6 class="my-3">National Institute of Technology Karnataka</h6>
      <h4 class="my-3">19th December 2022 - 12th February 2023</h4>
      <div class="landing-btn">
      {% if registration_start %}
      <a class="register-button" href="{% url 'register' %}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Register
      </a>
    <a class="register-button" href="{% url 'login' %}">
      <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
    </a>
    {% endif %}
  </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="container animate-box justify-content-center text-center my-5" id="about">
    <div class="col-md-12">
      <h1>What is Embedathon?</h1>
      <p class="py-3 landing-page-text">
        Embedathon is our flagship embedded systems task-based hackathon challenge hosted by IEEE NITK student branch
        in association with CAS Society. It presents you with interesting problem statements to ensure a
        fun-filled learning experience. This is the fifth edition of the event promising to be bigger and better.
        In addition to the problem statement resources, workshops and talks will also be conducted prior to the
        final event to enhance your experience with us! The expert talk will be open to everyone, even if you did
        not qualify the preliminary round. <br>
      </p>
      <p class="px-5 landing-page-text">
        <strong>Open to 1st and 2nd year students from all over India!</strong>
      </p>
    </div>
  </section>
  <hr>

  <!-- Prizes -->
  <section class="container animate-box justify-content-center text-center my-5" id="prizes">
    <div class="row">
      <h1>Prizes Worth</h1>
    </div>
    <div class="my-5 row justify-content-center">
      <div class="col-md-4">
        <h1><span data-toggle="counter-up">5000</span> INR</h1>
        <p><h2><b>Winner</b></h2></p>
      </div>

      <div class="col-md-4">
        <h1><span data-toggle="counter-up">3000</span> INR</h1>
        <p><h2><b>Runner Up</b></h2></p>
      </div>

      <div class="col-md-4">
        <h1><span data-toggle="counter-up">2000</span> INR</h1>
        <p><h2><b>Worth Goodies</b></h2></p>
      </div>
    </div>
    <div class="col-12 mt-3">
      <h3>Certificates for all those who clear preliminary round!</h3>
    </div>
  </section>
  <hr>

  <!-- Speakers -->
  <section class="container animate-box justify-content-center text-center my-5" id="speakers">
    <div class="row">
      <h1>Speakers</h1>
    </div>
    <div class="my-5 row justify-content-center align-items-stretch">
      <div class="col-md-6">
        <div class="card h-100">
          <img src="{% static 'img/GNRathna.jpg' %}" class="img-fluid img-thumbnail" alt="Rathna G N" style="height: 400px; width: auto;">
          <div class="card-title"><h3 class="text-center">Ratna G N </h3></div>
          <div class="card-text">
            <p>Principal Research Scientist, IISc.</p>
            <p>Current Research Areas: Embedded Signals / Image Processing Sensor Systems</p>
            <p>Date and Time: <strong>07:00PM IST on 20th December, 2022</strong></p>
            <p><a href="https://ee.iisc.ac.in/member/rathna-g-n/">Know more about the speaker</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <img src="{% static 'img/Magnus.jpg' %}" class="img-fluid img-thumbnail" alt="Magnus (Ebuka) Emenuga" style="height: 400px; width: auto;">
          <div class="card-title"><h3 class="text-center">Magnus (Ebuka) Emenuga</h3></div>
          <div class="card-text">
            <p>Embedded System Developer, Magnum Technical Concepts</p>
            <p>Date and Time: <strong>07:00PM IST on 23th December, 2022</strong></p>
            <p><a href="https://www.linkedin.com/in/magnus-emenuga-a9a024199/">Know more about the speaker</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <!-- Schedule -->
  <section class="container animate-box justify-content-center text-center my-5" id="schedule">
    <div class="row">
      <h1 class="col-12">Schedule</h1>
    </div>
    <div class="row justify-content-center landing-page-text py-3">
      <div class="col-md-8">
        <table class="table table-hover table-striped">
          <tbody>
            <tr>
                <td>19th - 31st December 2022</td>
                <td>Expert Talks by Speakers</td>
            </tr>
            <tr>
              <td>10th January 2023</td>
              <td>Preliminary Test on HackerEarth</td>
            </tr>
            <tr>
              <td>15th January 2023</td>
              <td>Embedded Programming Workshop by Vibhore Jain</td>
            </tr>
              <td>18th January 2023</td>
              <td>Websockets Workshop by Chinmay Sharma</td>
            </tr>
            <tr>
                <td>29th January 2023 - 5th February 2023</td>
                <td>Round 2 Hardware Tasks</td>
            </tr>
            <tr>
                <td>12th February 2023</td>
                <td>24-Hour Final Hackathon</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="py-2"><b>Exact schedule for workshops and talks will be updated on the website and Discord server by 19th December 2022.</b></p>
    </div>
  </section>
  <hr>

  <!-- FAQs -->
  <section class="container animate-box justify-content-center my-5" id="faq">
    <div class="row text-center">
      <h1 class="col-12 mb-4">Frequently Asked Questions</h1>
    </div>

    <div class="accordion landing-page-text" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-controls="collapseOne" aria-expanded="false">
            Who are eligible to register?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            This is going to be a pan-India event so all the <strong>1st and 2nd Year B.E/B.Tech/B.Sc students</strong> from any college can register for the event.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Is there a registration fee?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Free registrations for teams that have at least one IEEE student member, and for all teams comprising students from the National Institute of Technology Karnataka, Surathkal.
            <br>
            Registration fee of <strong>Rs. 150/-</strong> for teams with no IEEE student members or do not belong to the National Institute of Technology Karnataka, Surathkal.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Is it necessary to be from Electrical or Electronics background?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            It is <strong>not necessary</strong> to have any previous background in EEE or ECE. Students who are curious about Embedded Systems and are interested to learn and get hands-on experience are welcome to apply.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How many members per team?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Students can apply <strong>individually</strong> or in a <strong>team of 2</strong>. Only <strong>one hardware kit</strong> will be provided to each team.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            What is the selection process for the round 1 online test?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Round 1 online test would be conducted over HackerEarth. The test would be covering topics such as aptitude and basic electronics.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How will hardware subtasks be made accessible for students outside NITK?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Hardware kits would be made available to the students outside NITK via courier delivery. We expect kits to be handled very carefully throughout the competition and sent back after the completion of it.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            For the final 24 hour hackathon, students who intend to come to NITK to attend in offline mode, will there be any accommodation arranged?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Students will have to arrange for their own accommodation. Snacks and refreshments would be provided on that day.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            How can we prepare for the event?
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Brush up on your knowledge of basics of popular microcontrollers, and basic electronics.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            What benefits would I get by registering for the event?
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Expert talks conducted during the competition are open for <strong>all</strong> registering participants!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Will students be given participation certificates for the event?
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Yes! Participation certificates will be given to students who clear Round 1.
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <!-- Organisers -->
  <section class="animate-box row justify-content-center text-center my-5" id="organizers">
    <div class="row">
      <h1 class="col-12">Organized By</h1>
    </div>
    <div class="row pt-5 align-items-center">
      <div class="col-md-6">
        <a href="https://ieee.nitk.ac.in/"><img src="{% static 'img/ieee_nitk.png' %}"
            alt="IEEE NITK Logo" />
        </a>
      </div>
      <div class="col-md-6 mx-auto">
        <a href="https://signalprocessingsociety.org/"><img src="{% static 'img/cas.png' %}"
            alt="SPS Logo" />
        </a>
      </div>
    </div>
  </section>
  <hr>
  <section class="animate-box row justify-content-center text-center mt-5 mb-2" id="contact">
    <div class="row">
      <h1 class="col-12">Contact Us</h1>
    </div>
    <div class="row">
      <p><strong>Kruti Deepan Panda</strong> : <a href="https://wa.me/917022206203" target="_blank">+91-7022206203</a><br>
        <strong>Gagana</strong> : <a href="https://wa.me/918660503263" target="_blank">+91-8660503263</a>
      </p>
    </div>

    <div class="animate-box row justify-content-center" id="icons-div">
      <div class="col-md-1">
        <a href="https://www.facebook.com/IEEENITK/" class="facebook"><i class="ri-facebook-circle-fill"></i></a>
      </div>
      <div class="col-md-1">
        <a href="https://www.instagram.com/ieee_nitk/" class="instagram"><i class="ri-instagram-line"></i></a>
      </div>
      <div class="col-md-1">
        <a href="https://www.linkedin.com/company/ieee-nitk-surathkal/" class="linkedin"><i
            class="ri-linkedin-box-fill"></i></a>
      </div>
    </div>
  </section><!-- #contact -->

</div>
{% endblock %}
