{% extends 'embedathon/layout.html' %}
{% load static %}

{% block title %}Register | Embedathon{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show mt-3 mb-0" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h5 class="card-title">Register</h5>

        <!-- Floating Labels Form -->
        <form action="{% url 'register' %}" method="post" class="row g-3 needs-validation"
            onSubmit="return checkFormValidity(this)" novalidate>
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                        required>
                    <label for="first_name">First Name</label>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                        required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating has-validation">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
                        required>
                    <label for="email">Email Address</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                    <label for="phone">Phone Number</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="password" class="form-control" id="confirmation" name="confirmation"
                        placeholder="Confirm Password" required>
                    <label for="confirmation">Confirm Password</label>
                    <div class="invalid-feedback">
                        Passwords don't match!
                    </div>
                </div>
            </div>
        
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-text">From NITK?</span>
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" id="is_nitk" name="is_nitk" onclick="NITKToggle(this)">
                    </div>
                    <input type="text" class="form-control py-3" placeholder="College Name" id="college" name="college" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="ieee_number" name="ieee_number"
                        placeholder="IEEE Membership Number">
                    <label for="ieee_number">IEEE Membership Number (optional)</label>
                </div>
            </div>
            <div id="collegeAndMail"></div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form><!-- End floating Labels Form -->
        <div class="col-12 text-center">
            <p class="small mt-2">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>

    </div>

</div>
{% endblock %}

{% block script %}
<!--<script src="{% static 'js/register.js' %}"</script>></script> -->
<script>
    function checkFormValidity(form) {
    password = form.password.value;
    confirmation = form.confirmation.value;
    phone = form.phone.value.toString();

   if (phone.toString().length < 10) {
        form.phone.setCustomValidity("Phone number must be 10 digits");
        return false;
    }
    form.phone.setCustomValidity('');

    if (password != confirmation || password == '' || confirmation == '') {
        form.password.setCustomValidity("Passwords don't match");
        form.confirmation.setCustomValidity("Passwords don't match");
        return false;
    }
    form.password.setCustomValidity('');
    form.confirmation.setCustomValidity('');

//
    if(document.getElementById("is_nitk").checked){
   let mail = document.getElementById("mail").value; 
   let  nitkRegex = /^[A-Za-z0-9._%+-]+@nitk\.edu\.in$/;
   if(!nitkRegex.test(mail)){
     form.mail.setCustomValidity("Invalid email id");
     return false;
    }
    form.mail.setCustomValidity('');
   }

    return true;
}

let currentCollege = "";

function NITKToggle(checkbox) {
    const college = document.getElementById('college');
    if (checkbox.checked) {
        currentCollege = college.value;
        college.value = 'NITK, Surathkal';
        college.readOnly = true;

        // Creating input field
        let mailIp = document.createElement("input");
        mailIp.name="mail";
        mailIp.id = "mail";
        mailIp.type ="text";
        mailIp.className="form-control";
        mailIp.placeholder = "NITK EMAIL ID";
        mailIp.setAttribute("required","");
        //
        // Creating label
        let mailLabel = document.createElement("label");
        mailLabel.htmlFor = "mail";
        mailLabel.innerText = "NITK EMAIL ID"
        //
        // Creating div "form-floating has-validation"
        let divInner = document.createElement("div");
        divInner.className = "form-floating has-validation";
        //
        // Appending the input field and label into divInner
        divInner.appendChild(mailIp);
        divInner.appendChild(mailLabel);
        //
        //Creating divOuter & appending divInner to it
        let divOuter = document.createElement("div");
        divOuter.className = "col-md-6";
        divOuter.appendChild(divInner);
        //
        // Appending to collegeAndMail div
        document.getElementById("collegeAndMail").appendChild(divOuter);


    } else {
        college.value = currentCollege;
        college.readOnly = false;
    }

}
</script>
{% endblock %}
