{% extends 'embedathon/layout.html' %}
{% load static %}

{% block title %}Register | Embedathon{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show mt-3 mb-0" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h5 class="card-title">Register</h5>

        <!-- Floating Labels Form -->
        <form action="{% url 'register' %}" method="post" class="row g-3 needs-validation"
            onSubmit="return checkFormValidity(this)" novalidate>
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                        required>
                    <label for="first_name">First Name</label>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                        required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating has-validation">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
                        required>
                    <label for="email">Email Address</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                    <label for="phone">Phone Number</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating has-validation">
                    <input type="password" class="form-control" id="confirmation" name="confirmation"
                        placeholder="Confirm Password" required>
                    <label for="confirmation">Confirm Password</label>
                    <div class="invalid-feedback">
                        Passwords don't match!
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-text">From NITK?</span>
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" id="is_nitk" name="is_nitk" onclick="NITKToggle(this)">
                    </div>
                    <input type="text" class="form-control py-3" placeholder="College Name" id="college" name="college" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating has-validation">
                    <input type="text" class="form-control" id="ieee_number" name="ieee_number"
                        placeholder="IEEE Membership Number">
                    <label for="ieee_number">IEEE Membership Number (optional)</label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form><!-- End floating Labels Form -->
        <div class="col-12 text-center">
            <p class="small mt-2">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>

    </div>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
