<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'team-profile' %}">
        <i class="bi bi-people"></i>
        <span>Team Profile</span>
      </a>
    </li>
    {% if not hackathon_start %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'leave-team' %}">
        <i class="bi bi-box-arrow-left"></i>
        <span>Join a New Team</span>
      </a>
    </li>
    {% endif %}

    <!-- <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="forms-elements.html">
            <i class="bi bi-circle"></i><span>Form Elements</span>
          </a>
        </li>
        <li>
          <a href="forms-layouts.html">
            <i class="bi bi-circle"></i><span>Form Layouts</span>
          </a>
        </li>
        <li>
          <a href="forms-editors.html">
            <i class="bi bi-circle"></i><span>Form Editors</span>
          </a>
        </li>
        <li>
          <a href="forms-validation.html">
            <i class="bi bi-circle"></i><span>Form Validation</span>
          </a>
        </li>
      </ul>
    </li> -->

    {% if tasks and hackathon_start %}
    <li class="nav-heading">Tasks</li>

    {% for task in tasks %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'task' task.id %}">
          <i class="bi bi-pencil"></i>
          <span>{{ task.id }}-{{ task.title }}</span>
        </a>
      </li>
    {% endfor %}
    {% endif %}

  </ul>

</aside><!-- End Sidebar-->
